* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color:antiquewhite;
}

header {
    background-color: rgb(165, 87, 42);
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

.nav {
    color: aliceblue;
    margin-left: 20px;
    color: aliceblue;
}

.menu {
    margin-right: 40px;
}

a {
    color: aliceblue;
    padding: 10px;
    font-size: 1.3em;
}

.marca {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

h1 {
    color: rgb(77, 29, 0);
    text-align: center;
}

h2 {
    color: rgb(77, 29, 0);
    text-align: center;
    margin-bottom: 50px;
}

.banner {
    display: block;
    height: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.catalogo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    flex: 1;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 90%;
    height: 300px;
    padding-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.card p {
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    margin: 0;
    color: rgb(77, 29, 0);
}

footer {
    background-color:rgb(239, 214, 188);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    color: rgb(77, 29, 0);
    font-size: 1.2em;
}